---
import Header from '../components/Header.astro';
import IconsContainer from '../components/IconsContainer.astro';
import { Copy, SearchNormal } from 'iconsax-astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Iconsax Astro">
  <div class="flex flex-col gap-1 mt-24">
    <h1 class="font-bold text-white text-4xl sm:text-5xl">Iconsax Astro</h1>
    <h2 class="text-base-content text-xl sm:text-2xl">Vuesax's icon library. Now for Astro!</h2>
    <div class="flex flex-col sm:flex-row mt-5 gap-5">
      <a
        href="https://github.com/matt-pasek/iconsax-astro"
        class="btn btn-sm md:btn-md btn-primary font-inter">Getting Started</a
      >
      <button id="copy-button" class="btn btn-sm md:btn-md btn-neutral font-inter">
        > npm i iconsax-astro
        <Copy type="bulk" color="white" />
      </button>
    </div>
  </div>
  <div class="mt-20 flex justify-between">
    <input id="search" placeholder="🔎 Search icons" class="input" />
  </div>
  <IconsContainer />
  <script>
    /* copy button */
    const copyButton = document.getElementById('copy-button');
    function copyToClipboard() {
      const copyButtonContent = copyButton.innerHTML;
      navigator.clipboard.writeText('npm i iconsax-astro');
      copyButton.textContent = 'Copied!';
      setTimeout(() => {
        copyButton.innerHTML = copyButtonContent;
      }, 2000);
    }

    copyButton.addEventListener('click', () => {
      copyToClipboard();
    });

    /* search */
    const search = document.getElementById('search') as HTMLInputElement;

    function searchIcons() {
      const iconsContainer = document.querySelector('#icons-container');
      const inputString = search.value;
      const icons = document.querySelectorAll('[id^="astro-"]');

      if (iconsContainer) iconsContainer.scrollTo(0, 0);

      if (!inputString) {
        // If the input is empty, show all icons
        icons.forEach((icon) => {
          icon.classList.remove('hidden');
        });
        return;
      }

      icons.forEach((icon) => {
        const iconName = icon.id.replace('astro-', '');
        if (iconName.includes(inputString)) {
          icon.classList.remove('hidden');
        } else {
          icon.classList.add('hidden');
        }
      });

      const hiddenIcons = document.querySelectorAll('[id^="astro-"].hidden');

      if (icons.length - hiddenIcons.length < 5) {
        iconsContainer.classList.add('!justify-start');
      } else {
        iconsContainer.classList.remove('!justify-start');
      }

      if (hiddenIcons.length === icons.length) {
        // check if noResults already exists
        if (document.querySelector('#no-results')) return;
        const noResults = document.createElement('p');
        noResults.id = 'no-results';
        noResults.classList.add('text-white', 'text-xl', 'mt-10');
        noResults.textContent = 'No results found';
        document.querySelector('main').appendChild(noResults);
      } else {
        const noResults = document.querySelector('#no-results');
        if (noResults) {
          noResults.remove();
        }
      }
    }

    search.addEventListener('input', () => {
      searchIcons();
    });
  </script>
</Layout>
