---
---

<header
  class="flex flex-col md:flex-row items-center justify-between font-inter font-light text-sm text-white/60"
>
  <p>
    ©️ iconsax <a href="https://iconsax.io/" target="_blank">official website</a>
    <a href="https://github.com/lusaxweb/iconsax" target="_blank">github page</a>
  </p>
  <p>
    website designed and developed <a href="https://github.com/matt-pasek">by matt-pasek</a>
  </p>
</header>

<style>
  a {
    @apply underline underline-offset-2 decoration-accent !important;
  }
</style>
