---
import * as Icon from 'iconsax-astro';
interface Props {
  name: string;
  type: 'linear' | 'outline' | 'bold' | 'bulk' | 'broken' | 'twotone';
}

const { name, type } = Astro.props;
const title = name.replace(/([A-Z])/g, ' $1').trim();
const IconName = Icon[name];
---

<a
  id=`astro-${name.toLowerCase()}`
  href=`/icons/${name}`
  class="cursor-pointer basis-[calc(50%-1.25rem)] sm:basis-44 sm:h-44 sm:w-44 px-5 sm:px-0 flex flex-col gap-2 items-center justify-center bg-accent-30 hover:bg-black transition-colors rounded-xl"
>
  <IconName color="currentColor" type={type} size="50px" class="text-accent" />
  <p class="text-white/50 text-center px-5">{title}</p>
</a>
