---
import * as Icon from 'iconsax-astro';
interface Props {
  name: string;
  type: 'linear' | 'outline' | 'bold' | 'bulk' | 'broken' | 'twotone';
}

const { name, type } = Astro.props;
const title = name.replace(/([A-Z])/g, ' $1').trim();
const IconName = Icon[name];
---

<a
  id=`astro-${name.toLowerCase()}`
  href=`/icons/${name}`
  class="card py-5 gap-5 items-center w-[calc(50%-2rem)] sm:w-1/6 bg-neutral shadow-xl cursor-pointer hover:bg-base-100 transition-colors"
>
  <IconName color="currentColor" type={type} size="50px" class="text-primary" />
  <p class="card-title">{title}</p>
</a>
